$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: #aa759f;
$chelsea-cucumber: #90a959;
$cod-grey: #151515;
$conifer: #b5e853;
$dove-grey: #666;
$gallery: #eaeaea;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #d28445;
$silver-chalice: #aaa;
$cool_as_ice: #6c8b9f;
$slate_blue: #4e5d62;
$eggshell_cloud: #dee5e7;
$krasna : #122b3b;
$aluminum1: #fefeec;
$scarletred2: #cc0000;
$butter3: #c4a000;
$go_get_it: #b2fd6d;
$chilly : #a8e1fe;
$unicorn: #faf6e4;
$sandy  : #f6dd62;
$pink_merengue: #f696db;
$dune   : #fff0a6;
$backlit: #4df4ff;
$schrill: #ffb000;
